@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c6efc8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.spinning {
  transition: transform 5s;
}
.spin-0 {
  transform: rotate(calc(5 * 360deg + (-360deg * 0)));
}
.spin-1 {
  transform: rotate(calc(5 * 360deg + (-360deg * 1 / 6)));
}
.spin-2 {
  transform: rotate(calc(5 * 360deg + (-360deg * 2 / 6)));
}
.spin-3 {
  transform: rotate(calc(5 * 360deg + (-360deg * 3 / 6)));
}
.spin-4 {
  transform: rotate(calc(5 * 360deg + (-360deg * 4 / 6)));
}
.spin-5 {
  transform: rotate(calc(5 * 360deg + (-360deg * 5 / 6)));
}
